    /* --------------------- Content page --------------------- */
    
    .content_page {
        @media screen and (max-width: 1250px) {
            .slick-slide {
                width: 100vw !important
            }
        }
        padding-top: 75rem;
        padding-bottom: 10rem; //55rem;
        background-color: $bg_gray;
        font-size: $f_16;
        .wrapper:first-of-type {
            /* background-image: url();
        background-size: auto auto;
        background-position: right bottom;
        background-repeat: no-repeat;*/
            >img {
                width: auto;
                max-width: 470rem;
                height: auto;
                max-width: 470rem;
                display: block;
                float: right;
            }
            .about {
                width: 600rem;
                float: left;
                ul {
                    padding-top: 30rem;
                    padding-bottom: 30rem;
                    overflow: hidden;
                    li {
                        width: 138rem;
                        height: 138rem;
                        margin-right: 10rem;
                        margin-bottom: 10rem;
                        display: table;
                        float: left;
                        background-image: url(../images/bg_little_screen.jpg);
                        text-align: center;
                        font-family: $f_medium;
                        font-size: $f_14;
                        color: white;
                        span {
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }
                }
            }
            &:after {
                @extend %clear
            }
        }
        .wrapper:last-of-type {
            h1 {
                margin: 0;
                padding-top: 55rem;
                padding-bottom: 45rem;
            }
        }
    }