/* --------------------- Content project --------------------- */

.content {
    .phone_template_part {
        padding-top: 85rem;
        background-color: $bg_gray;
        h3 {
            padding-bottom: 35rem;
        }
    }
    .slider_phone {
        position: relative;
        width: 610rem;
        height: 545rem;
        margin: auto;
        
        .slider_wrapper {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .slides_block {
            //width: 300%;
            height: 100%;
            transition-duration: 1s;
        }
        .slide {
            //width: 33.33%;
            width:700rem;
            height: 545rem;
            background-size: auto 100%;
            background-position: top center;
            background-repeat: no-repeat;
            float: left;
        }
    }
    .second_part {
        padding-top: 15rem;
        padding-bottom: 75rem;
        border-color: #f5f5f5;
        .block {
            width: 580rem;
            padding-right: 20rem;
            padding-left: 150rem;
            position: relative;
            box-sizing: border-box;
            padding-top: 65rem;
            float: left;
            h3 {
                padding-bottom: 15rem;
                font-family: $f_medium;
                font-size: $f_20;
                color: #56a1d1;
            }
            .icon {
                position: absolute;
                top: 65rem;
                left: 0;
            }
            .icon1 {
                width: 100rem;
                height: 100rem;
                background-image: url(../images/project_icon_1.png);
				background-size: contain;
            }
            .icon2 {
                width: 88rem;
                height: 101rem;
                background-image: url(../images/project_icon_2.png);
				background-size: contain;
					
            }
            .icon3 {
                width: 100rem;
                height: 83rem;
                background-image: url(../images/project_icon_3.png);
				background-size: contain;
            }
            .icon4 {
                width: 101rem;
                height: 101rem;
                background-image: url(../images/project_icon_4.png);
				background-size: contain;
            }
        }
        &:after {
            @extend %clear
        }
    }
    .third_part {
        $line-height: 22rem;
        background-color: #e3e3e3;
        .wrapper {
            padding-top: 30rem;
            .img1,
            text1 {
                float: left;
            }
            .img2,
            text2 {
                float: right;
            }
			.img1, .img2 {background-size: contain;
				
			}
			
            .text,
            h1,
            p {
                line-height: $line-height;
                display: inline-block;
            }
            .text1 {
                width: 570rem;
            }
            .text2 {
                width: 840rem;
                margin-bottom: 80rem;
            }
            &:after {
                @extend %clear
            }
        }
        h1 {
            padding-top: 50rem;
            padding-bottom: 35rem;
            font-family: $f_medium;
            font-size: $f_20;
            color: $f_red;
        }
        ul {
            line-height: $line-height;
            padding-left: 30rem;
            padding-top: 20rem;
            li {
                padding-left: 20rem;
                list-style-type: none;
                list-style-image: url(../images/check_icon.png);
				
            }
        }
        .img1 {
            width: 570rem;
            height: 360rem;
            margin-top: 95rem;
            background-repeat: no-repeat;
        }
        .img2 {
            width: 296rem;
            height: 373rem;
            margin-left: 20rem;
            margin-bottom: 80rem;
            background-repeat: no-repeat;
        }
        &:after {
            @extend %clear
        }
    }
}