/* --------------------- Content home --------------------- */

.content_home {
    padding-top: 40rem;
    padding-bottom: 60rem;
    background-color: $bg_gray;
    .about {
        @extend %slide_common_style;
        font-variant: small-caps;
        font-size: $f_24;
        >div:first-of-type {
            text-transform: uppercase;
            line-height: 200%;
        }
        span {
            color: #b03734;
            font-size: 36rem;
            font-family: $f_medium;
            &.big {
                color: black;
                font-size: 58rem;
                font-family: $f_regular;
            }
        }
        >div {
            position: relative;
            overflow: visible;
            @extend %for_all_slide_cells;
            >div:first-of-type {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-size: cover;
                &:before {
                    @extend %blue_transparent;
                    background-color: $light_blue_transparent
                }
            }
        }
        .additional_text {
            width: 275rem;
            height: 155rem;
            padding: 35rem 25rem 0 25rem;
            position: absolute;
            box-sizing: border-box;
            background-color: #fff;
            font-size: $f_16;
            text-align: center;
            z-index: 1;
            .service_h {
                padding-bottom: 20rem;
                font-family: $f_medium;
                font-size: $f_24;
                color: #b03734;
                text-transform: uppercase;
            }
        }
        .item1 {
            top: -20rem;
            right: -20rem;
        }
        .item2 {
            bottom: -20rem;
            left: 147.5rem;
        }
        .item3 {
            top: -87.5rem;
            left: 147.5rem;
        }
        .item4 {
            bottom: -20rem;
            left: -147.5rem;
        }
    }
    /*slider 2*/
    .portfolio {
        h1 {
            padding-top: 65rem;
            padding-bottom: 40rem;
        }
    }
    .slide,
    .about {
        .cell_1 {
            @extend %slider_cell
        }
        .cell_2_w {
            @extend %slider_wide_cell;
        }
    }
    .excellence {
        margin-top: 60rem;
        position: relative;
        .text_slide {
            padding-top: 100rem;
            box-sizing: border-box;
            font-size: 20rem;

            span { text-shadow: 1rem 1rem 2rem black;
                font-size: 40rem;
                text-transform: uppercase;
                 
            }
        }
        >div.arrow {
            @extend %slider_arrow;
            border-bottom: 3rem solid #b6b6b6;
            border-left: 3rem solid #b6b6b6;
        }
        .slide {
            @extend %slide_common_style;
            >div {
                position: relative;
                @extend %for_all_slide_cells;
                text-align: center
            }
            .cell_1 {
                &:before {
                    @extend %blue_transparent;
                    background-color: $light_blue_transparent
                }
            }
        }
        .slider_nav {
            @extend %slider_nav;
            @include slider_nav(white)
        }
    }
}

.testimonials {
    background-color: #3c7a97;
    .wrapper {
        position: relative;
        .big_h {
            padding: 30rem 0;
            text-align: center;
            font-family: $f_medium;
            font-size: $f_30;
            color: white;
            text-transform: uppercase;
        }
        >div.arrow {
            @extend %slider_arrow;
            border-bottom: 3rem solid white;
            border-left: 3rem solid white;
        }
        .slider_nav {
            @extend %slider_nav;
            @include slider_nav(blue)
        }
    }
    .slide {
        @extend %slide_common_style;
        >div {
            position: relative;
            @extend %for_all_slide_cells;
        }
        .cell_1 {
            @extend %slider_cell;
        }
        .cell_2_w {
            @extend %slider_wide_cell;
        }
    }
}

.slide {
    &.active {
        opacity: 1;
        animation-name: fadeIn;
        animation-duration: 0.5s;
    } 
}

   .cell_2_h, .cell_2_w, .cell_1 {background-size: cover !important;
    background-position: center center
    }