/* --------------------- Header --------------------- */

header {
    width: 100%;
    height: $header_height;
    padding-top: $header_padding_top;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: padding-box;
    z-index: 3;
    &.active {
        background-color:  $dark_blue_transparent;
    }
    .logo {
        float: left;
    }
    nav {float: left;
       /* position: absolute;
        top: 60px;
        margin-left: 300px;*/
         position: relative;
        top: 35px;
        margin-left: 130px;
          @include bp(1200) { margin-left: 30px;
    
}
        
        ul {
            li {
                display: inline-block;
                margin-right: 20px;
                &:first-child {
                    margin-right: 25px
                }
            }
            a {
                font-family: $f_light;
                font-size: $f_16;
            }
        }
    }
    .contact {
        width: 220px;
		top:3px;
        margin-left: 30px;
        position: relative;
        float: right;
        color: #cccccc;
        @include bp(1200) { float: left;
    
}
        >div {
            padding-top: 10px;
             padding-bottom: 27px //denends on .contact - top
        }
        .header_hidden_contact {
            position: relative;
            background-color: $dark_blue_transparent;
            opacity: 0;
            >div:last-of-type {
                height: 100%;
                width: 30px;
                position: absolute;
                top: 0;
                right: -30px;
                display: block;
                background-color:$dark_blue_transparent;
                clear: both;
                 @include bp(1200) { display: none;}
            }
            &.active {
                opacity: 1;
                transition-duration: 0.5s;
            }
        }
        >div:before,
        >div:after {
           @extend %clear
        }
        .arrow {
            width: 10px;
            height: 10px;
            float: left;
            border-bottom: 2px solid white;
            border-right: 2px solid white;
            transform: rotate(45deg)
        }
        a {
            float: right;
            font-size: $f_20;
            color: #cccccc;
            span {
                font-family: $f_regular;
                color: white
            }
        }
        .country {
            position: absolute;
            right: 30px;
            font-size: 14px;
            &:after {
                content: ' ';
                width: 20px;
                height: 11px;
                position: absolute;
                right: -30px;
                bottom: 3px;
                background-image: url(../images/india.jpg);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .call_time {
            padding-top: 5px;
            clear: both;
            float: right;
            font-size: 12px;
        }
    }
}

