#red_button {
	width: 160rem;
	height: 45rem;
	right: -58rem;
	top: 320rem;
	margin-top: 55rem;
	position: fixed;
	background-color: $bg_red;
	line-height: 45rem;
	text-align: center;
	font-family: $f_medium;
	font-size: 14rem;
	color: white;
	transform: rotate(-90deg);
	z-index: 5
}

%form_style {
	&:focus {
		outline: none;
		background-color: rgba(158, 202, 227, 0.5);
	}
	&::-webkit-input-placeholder {
		font-family: $f_regular;
		font-size: $f_16;
		color: white
	}
	&::-moz-placeholder {
		font-family: $f_regular;
		font-size: $f_16;
		color: white
	}
	/* Firefox 19+ */
	&:-moz-placeholder {
		font-family: $f_regular;
		font-size: $f_16;
		color: white
	}
	/* Firefox 18- */
	&:-ms-input-placeholder {
		font-family: $f_regular;
		font-size: $f_16;
		color: white
	}
}

%icon {
	background: {
		position: 15rem center;
		repeat: no-repeat
	}
}

.side_button_part {
    
    
    
    
	display:none;
	width: 100%;
	height: 100vh;
	min-height: 700rem;
	position: fixed; // absolute;
	left: 0;
	top: 0;
	right: 0;
    z-index: 1000;
    overflow: auto; //add this
    
    
    .slider {
        
        .slider_wrapper {overflow: hidden;
        height: 100%;}
        .slides_block {            
            width: 166.66%;
            height: 100%;
            transition-duration: 1s;
        }
    }
    
	.full_screen {
		@extend %blue_transparent;
		background-color: $dark_blue_transparent;
        position: absolute;
        min-height: 720rem;//add this
        height: 100%;//add this
           overflow: auto; //add this
		
	
		.content {
			margin: auto;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 720rem;
			height: 450rem;
    
            min-height: 100rem;
			text-align: center;
			//height: auto;
            
		
			h2 {
				width: 340rem;
				margin-right: 10rem;
				margin-left: 10rem;
				float: left;
				padding-bottom: 13rem;
				border-bottom: 3rem solid #506168;
				text-align: center;
				font-size: $f_20;
				color: white;
				&.active {
					border-bottom: 3rem solid #54a9d2;
					font-family: $f_medium;
				}
			}
			.job_seeker_part {
				
				color: white;
				.contacts {
					width: 340rem;
					padding-top: 35rem;
					padding-bottom: 35rem;
					float: left;
					font-size: $f_14;
					&:nth-of-type(1) {
						float: left;
						text-align: right;
					}
					&:nth-of-type(2) {
						float: right;
						text-align: left
					}
					a {
						font-family: $f_medium;
					}
				}
				h4 {
					padding-bottom: 25rem;
					clear: both;
					font-family: $f_medium;
					font-size: $f_18;
				}
				.slider {position:relative;
					.arrow { @extend %slider_arrow;
				
	margin-top: -55rem;
	
	top: 50%;

	&:first-of-type {
		left: 5rem - 55rem;
		transform: rotate(45deg);
		border-bottom: 2rem solid #475961;
		border-left:  2rem solid #475961;
		
	}
	&:nth-of-type(2) {
		border-bottom: 2rem solid #475961;
		border-left:  2rem solid #475961;
		right: 5rem - 55rem;
		transform: rotate(-135deg);
		
	}}
					.slide {
						//width: 610rem;
						//margin: auto;
						.block_info {
							width: 20%;
							float: left;
							text-align: center;
							.picture {
								width: 100%;
								height: 60rem;
								margin-bottom: 5rem;
								background: {
									size: contain;
									position: center center;
									repeat: no-repeat
								}
							}
							.title {
								font-family: $f_medium;
								font-size: $f_18;
							}
							.comment {
								padding-bottom: 17rem;
								font-family: $f_light;
								font-size: $f_12;
							}
							.red_button {
								width: 135rem;
								margin: 0 auto 20rem auto;
								height: 35rem;
								font-family: $f_medium;
								font-size: 12rem;
								line-height: 35rem;
								border-radius: 30rem;
								background-color: $bg_red;
								&:hover {
									background-color: #56aed8;
								}
							}
						}
						&:after {
							@extend %clear
						}
					}
					&:after {
						@extend %clear
					}
					.slider_nav {
						@extend %slider_nav;
						@include slider_nav(blue)
					}
				}
			}
			.client_part {
				color: white;
				.contacts_wrapper {
					margin: auto;
					width: 700rem;
					&:after {
						@extend %clear
					}
				}
				.contacts {
					position: relative;
					width: 33.33%;
					padding-top: 35rem;
					padding-bottom: 35rem;
					padding-left: 50rem;
					box-sizing: border-box;
					float: left;
					font-size: $f_14;
					text-align: left;
					>div:first-child {
						position: absolute;
						top: 40%;
						left: 0;
						width: 23rem;
						height: 22rem;
						background: {
							position: center center;
							repeat: no-repeat;
						}
					}
					a,
					span {
						font-family: $f_medium;
					}
				}
				form {
					$border-radius: 10rem;
					$bg-color: rgba(255, 255, 255, 0.3);
					clear: both;
					input {
						font-family: $f_regular;
						font-size: $f_16;
						position: relative;
						display: block;
						float: left;
						box-sizing: border-box;
						width: 340rem;
						margin-right: 10rem;
						margin-left: 10rem;
						height: 45rem;
						margin-bottom: 20rem;
						padding-left: 45rem;
						border: none;
						border-radius: $border-radius;
						background-color: $bg-color;
						color: white;
						&[type=text] {
							@extend %icon;
							background-image: url(../images/modal_icon4.png)
						}
						&[type=tel] {
							@extend %icon;
							background-image: url(../images/modal_icon2.png)
						}
						@extend %form_style;
					
					}
					textarea {
						font-family: $f_regular;
						font-size: $f_16;
						clear: both;
						resize: none;
						display: block;
						width: 700rem;
						height: 85rem;
						margin: 0 auto 20rem auto;
						padding: 10rem 10rem 10rem 20rem;
						box-sizing: border-box;
						border: none;
						border-radius: $border-radius;
						background-color: $bg-color;
						color: white;
						@extend %form_style;
					}
					.red_button {
						width: 180rem;
						margin: 0 auto 10rem auto;
						height: 45rem;
						font-family: $f_medium;
						font-size: 16rem;
						border-radius: 30rem;
						background-color: $bg_red;
						border: none;
						color: white;
						&:hover {
							background-color: #56aed8;
						}
					}
				}
			}
			#close_modal_window {
                padding-top: 20rem;
				font-size: $f_14;
				text-decoration: underline;
				color: #b4c1bf
			}
		}
	}
}

