/* --------------------- Content about --------------------- */

$block_width: 375rem;
$block_height: 180rem;
$block_margin: 5rem;
.content_about {
    @media screen and (max-width: 1250px) {
        .slick-slide {}
    }
    padding-top: 65rem;
    padding-bottom: 80rem;
    background-color: $bg_gray;
    h1 {
        padding-bottom: 45rem;
        font-family: $f_medium;
        font-size: $f_30;
        text-align: center
    }
    .mission {
        >div {
            padding-left: 200rem;
            padding-right: 20rem;
            padding-bottom: 80rem;
            position: relative;
            box-sizing: border-box;
            font-size: $f_16;
            >div {
                position: absolute;
                top: 10rem;
                left: 20rem;
                width: 150rem;
                height: 160rem;
                background-position: top center;
                background-repeat: no-repeat;
                background-size: contain
            }
        }
        &:after {
            @extend %clear
        }
    }
    .team {
        .slider {
            position: relative;
            .arrow {
                @extend %slider_arrow;
                top: 60%;
                border-bottom: 3rem solid #b6b6b6;
                border-left: 3rem solid #b6b6b6;
            }
            .slider_nav {
                @extend %slider_nav;
                @include slider_nav(white)
            }
        }
        .slide {
            @extend %for_all_slide_cells;
            @extend %slider_cell;
            $span_color: #c0d5de;
            $padding-left: 13rem;
            font-size: 3vw;
            .title {
                width: auto;
                position: absolute;
                padding: $padding-left;
                background-color: $light_blue_transparent;
                left: 0;
                right: 0;
                bottom: 0;
                color: white;
                .name {
                    text-align: center;
                    text-transform: uppercase;
                    font-family: $f_medium;
                }
                .about {
                    text-align: center;
                    color: $span_color;
                    display: block;
                }
                .description {
                    position: relative;
                    padding-top: 20rem;
                    text-align: justify;
                }
                .icon {
                    width: 5vw;
                    height: 5vw;
                    position: absolute;
                    top: $padding-left;
                    left: $padding-left;
                    background-image: url(../images/linkedin.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
            &:after {
                @extend %clear
            }
        }
    }
    .history {position: relative;
        @extend %half_gradient_h;
        >h1 {
            padding-right: 10rem;
            padding-left: 10rem;
            background-size: 200rem 100%;
            background-image: $color_gradient;
        }
        >p {
            padding: 60rem 55rem 90rem 55rem;
            font-size: $f_20;
            color: #666666;
        }
        .red_year {
            float: left;
            display: inline-block;
            background-image: $color_gradient;
            h3{position: relative;
                font-family: $f_bold;
                font-size: 100rem;
                display: inline-block;
                color: #000;
                background: rgba(227, 227, 227, 1);
                mix-blend-mode: lighten;
              
               
            }          
        }

           
                     
                .slide {position: relative;
                    width: auto;
                    margin-left: 25vw;
                    margin-bottom: 5vw;
                    height: auto;             
                    padding: 5vw;          
                    position: relative;                  
                    box-sizing: border-box;
                    font-size: $f_14;
                    text-align: right;
                    background-color: white;
                      &:before {content:'';
                    
                     width: 15rem;
                height: 15rem;
                position: absolute;   
                    top: 5vw;
                    left: -28.3vw;
                border-radius: 50%;
                background-color: #999999;
                }
                    p {
                        height: 100%;
                        display: table-cell;
                        vertical-align: middle;
                    }
                 
                }
            
       
        .ex_slider {position: relative;} 
        
        .history_line {
            height: calc(100% + 5vw);  
    width: 5rem;
            top:5vw;
            left: -3vw;
            
            background-color: #999999;
         
            position: absolute;
            z-index:1;
            >div {
               
               
            }
         
        }
        &:after {
            @extend %clear
        }
    }
}